body{
    margin: 0;
    overflow-x: hidden;
    font-family: "Isometra", sans-serif;
}

.heading h1{
    text-align: center;
    font-size: 75px;
    color: white;
    padding-top: 0px;
    margin: 15px;
}
.heading hr{
    text-align: center;
    font-size: 75px;
    color: white;
    padding-top: 0px;
    margin: 15px;
    margin-left: 50px;
    margin-right: 50px;
}
.heading a{
    color: white;
}
.heading p{
    text-align: center;
    font-size: 50px;
    color: white;
}

.imagegrid img{
    padding: 10px;
    width: 50%;
}

.grid{
    display: grid;
    padding-inline: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.grid img{
    transition: 0.1s;
    width: 100%;
}
.grid img:hover{
    transform: scale(1.1); 
    filter: brightness(100%); 
    box-shadow: 0px 0px 500px rgba(0, 0, 0, 1);
}

.casualtext p{
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 20px;
    font-size: 40px;
}
.casualtext a{
    color: white;
}

.line hr{
    color: white;
    margin: 10%;
}

.contactgrid{
    display: grid;

}